---
layout: default
title: Restroom Reviews
---

<h1>Restroom Reviews</h1>
<p class="subtitle">A directory of restroom reviews</p>

<table>
  <thead>
    <tr>
      <th>Establishment</th>
      <th>Location</th>
      <th>Type</th>
      <th>Rating</th>
      <th>Video</th>
    </tr>
  </thead>
  <tbody>
      {% for place in site.data.reviews %}
      {% for review in place.reviews %}
    <tr>
      <td>{{ place.establishment }}</td>
      <td>{{ place.city }}, {{ place.state }}</td>
      <td>{{ review.restroom_type }}</td>
      <td>
        {% if review.rating %}
          {{ review.rating }}/10
        {% else %}
          &mdash;
        {% endif %}
      </td>
      <td><a href="{{ review.youtube_url }}" target="_blank">Watch</a></td>
    </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
